/* reset default */

* {
    padding: 0;
    margin: 0;
    outline: none;
    font-family: 'Avenir Next', sans-serif;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}



/* wrappers */

.background {
    background-color: #181818;
    background-size: cover;
    margin: 0;
}

.wrapper_page, .main_content, .wrapper_title {
    display: grid;
}

.wrapper_page {
    align-items: center;
    height: 100vh;
    margin: auto;
    max-width: 750px;
    padding: 25px 20px;
    box-sizing: border-box;
}

.main_content {
    justify-items: end;
    width: 100%;
}

.wrapper_content {
    max-width: 650px;
    margin: auto;
}

.wrapper_title {
    margin-bottom: 5px;
    grid-template-columns: 1fr 1.4fr;
    align-items: center;
}



/* header */

.title, .subtitle, .intro {
    font-family: Montserrat, sans-serif;
}

.title {
    color: #e3ecf3;
    text-transform: uppercase;
    font-size: 51px;
}

.subtitle {
    font-size: 42px;
    font-weight: 400;
    text-transform: uppercase;
    margin-right: 15px;
    color: #8b8b8b;
}

.top_title {
    box-sizing: border-box;
    text-align: center;
    width: 120px;
    padding: 7px 15px;
    background: rgb(213, 75, 0);
    background: linear-gradient(-5deg, rgb(213, 75, 0) 0%, rgb(255, 98, 0) 40%, rgb(255, 129, 0) 90%);
    box-shadow: 0 1px 0 rgb(218, 77, 0);
    border-radius: 50px;
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 18px;
    color: #181818;
    margin-bottom: 5px;
    font-family: Ayuthaya, Tahoma, sans-serif;
}

.intro {
    font-size: 15px;
    font-weight: 400;
    min-width: 360px;
    color: #6ddd24;
    line-height: 20px;
}

.result_title {
    margin-bottom: 15px;
}



/* content */

.form {
    display: grid;
    grid-template-columns: 1fr 1.4fr;
    align-items: center;
    max-width: 640px;
    margin: auto;
}

p {
    color: #9e9e9e;
    display: contents;
}

label {
    text-align: right;
    position: relative;
    top: 5px;
}

.input, .select, .checkbox {
    border-radius: 5px;
    border: 1px solid lightskyblue;
    background-color: unset;
    margin-top: 15px;
    color: #e3ecf3;
    margin-left: 15px;
}

.input, .select {
    padding: 7px 10px;
}

.input {
    font-size: 16px;
}

.select {
    appearance: none;
    -webkit-appearance: none;
    min-width: 135px;
    background-image: url('arrow-down.png');
    background-repeat: no-repeat;
    background-size: 13px;
    background-position: right 12px top 11px;
}

.checkbox {
    -webkit-appearance: none;
	padding: 9px;
	border-radius: 5px;
	display: inline-block;
	position: relative;
    max-width: fit-content;
}

.checkbox:checked {
	background-color: #03a9f4;
    border-radius: 5px;
    border: 1px solid #03a9f4;
	color: #e3ecf3;
}

.checkbox:checked:after {
	content: '\2714';
	font-size: 14px;
	position: absolute;
	top: 0;
	left: 3px;
	color: #e3ecf3;
}

.new_checkbox {
	padding: 14px;
}

.new_checkbox:checked:after {
	font-size: 18px;
	left: 6px;
    top: 2px;
}

.buttons {
    text-align: center;
}

.button {
    padding: 8px 20px;
    border-radius: 10px;
    border: none;
    margin-top: 28px;
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    width: 210px;
    font-family: Ayuthaya, Tahoma, sans-serif;
}

.main_button {
    background: rgb(49,185,0);
    background: linear-gradient(5deg, rgb(46, 173, 0) 0%, rgba(81,223,0,1) 40%, rgba(127,255,0,1) 90%);
    box-shadow: 0 1px 0 rgb(73, 199, 1);
}

.second_button {
    background: rgb(115, 115, 115);
    background: linear-gradient(5deg, rgb(115, 115, 115) 0%, rgb(161, 161, 161) 40%, rgb(187, 187, 187) 90%);
    box-shadow: 0 1px 0 rgb(128, 128, 128);
    margin-left: 10px;
}

.select, .checkbox, .button {
    cursor: pointer;
}

.result_text {
    display: block;
    font-size: 20px;
}



/* adaptive */

@media (min-width: 400px) and (max-width: 686px) {
    .wrapper_page {
        height: 100%;
        max-width: 460px;
        padding: 35px 20px;
    }

    .wrapper_content {
        max-width: 360px;
    }

    .wrapper_title {
        margin-bottom: 10px;
        display: block;
    }

    .wrapper_result {
        height: 100vh;
    }

    .top_title {
        margin-bottom: 0;
    }

    .title {
        font-size: 52px;
        line-height: 57px;
        margin-top: 12px;
    }

    .subtitle {
        margin-top: 5px;
        margin-right: 0;
        font-size: 32px;
        display: block;
    }

    .intro {
        max-width: 360px;
        min-width: auto;
        margin-top: 7px;
        display: block;
    }

    .form {
        max-width: 360px;
    }

    .button {
        width: 48%;
    }

    .result_button {
        width: 210px;
    }
}

@media (max-width: 399px) {
    .wrapper_page {
        height: 100%;
        max-width: 320px;
        padding: 35px 20px;
    }

    .wrapper_content {
        max-width: 280px;
    }

    .wrapper_title {
        margin-bottom: 5px;
        display: block;
    }

    .wrapper_result {
        height: 100vh;
    }

    .top_title {
        margin-bottom: 0;
    }

    .title {
        font-size: 41px;
        line-height: 45px;
        margin-top: 12px;
    }

    .subtitle {
        margin-top: 5px;
        font-size: 27px;
    }

    .intro {
        font-size: 16px;
        max-width: 280px;
        min-width: auto;
        margin-top: 7px;
        display: block;
    }

    .form {
        max-width: 280px;
        grid-template-columns: unset;
    }

    label {
        text-align: left;
        margin-top: 15px;
        margin-bottom: 7px;
        position: unset;
    }

    .input, .select, .checkbox {
        margin-top: 0;
        margin-left: 0;
    }

    .input, .select {
        min-width: auto;
        max-width: 100%;
    }

    .button {
        width: 100%;
    }

    .second_button {
        margin-left: 0;
        margin-top: 15px;
    }
}